*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


    
}

h1, h2 {color: rgb(46, 188, 122);
 /*background-color: aqua;*/

border: 1px solid black;
font-size: 30px;
border-radius: 12px;
text-align: left;
letter-spacing: 0.2em;}

header {
    border: 4px dashed black;
    background-image:image()
}
  header nav  ul li {
    font-size: 20px;
    color: brown;
    display: inline;
    font-style: italic;
    
    
    
}
a {text-decoration: none;
color: blue;}
a:hover{color: red;}
a:visited{color: green;}
div {width: 200px; 
    height: 200px; 
    background-color: rgb(118, 203, 40);border: 6px solid black;padding: 20px;margin:6px ;
color: white;}
img {
    border: 1px solid black;

}
th {
    text-align: left;
}
footer nav ul li {
    display: inline;
    color: rgb(9, 100, 27);
}
